# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js & Build Outputs
.next/
out/
build/
dist/

# Env & Secrets
.env*
!.env.example

# OS / IDE
.DS_Store
*.pem
*.tsbuildinfo
.vercel/
