PORT=8000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/knot
BETTER_AUTH_SECRET=your_32_character_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:8000
TRUSTED_ORIGINS=http://localhost:3000,http://localhost:3001

# Optional Seed Admin User (run "bun run seed:admin" to seed)
SEED_ADMIN_EMAIL=admin@knot.com
SEED_ADMIN_PASSWORD=adminpassword123
SEED_ADMIN_NAME="Knot Admin"
