# Server Configuration
# NEXT_PUBLIC_API_URL=http://localhost:8801/
NEXT_PUBLIC_API_URL=server_url
NEXT_PUBLIC_R2_PUBLIC_BASE_URL=r2_bucket_url
# Frontend Configuration
NEXT_PUBLIC_FRONTEND_URL=your_public_frontend 